@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: linear-gradient(#3d3d3d 5%, #000000 95%);
    color: white;
    height: 100vh;
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 56.25rem;
}

.cabecalho-nome-menu{
    font-size: 3.5rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;   
}

.cabecalho-imagem {
    height: 4.5rem;
}

.cabecalho-nome {
    display: flex;
    gap: 1.25rem;
}

.cabecalho-menu {
    display: flex;
    gap: 5rem;
}
.cabecalho-menu-item {
    color: #FFF2E7;
    font-size: 2.25rem;
    gap: 5rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;   
}




.apresentacao {
    overflow: hidden;
    margin-bottom: 3rem;
    border-top: 0.025rem solid #FFF2E7;
}

.conteiner {
    padding: 2% 0% 0% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.conteiner__apresentacao__titulo{
    font-size: 7.5rem;
    position: absolute;
    top: 27rem;
    right: 53.75rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;   
}

.conteiner__apresentacao__subtitulo {
    font-size: 5rem;
    gap: 10;
    position: absolute;
    top: 35rem;
    right: 32rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;   
}

.conteiner__apresentacao__texto {
    font-size: 3.75rem;
    position: absolute;
    top: 41rem;
    right: 45.5rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
}

.conteiner__apresentacao__imagem {
    height: 56.25rem;
    text-align: center;

}
